.btn{
    color: $white;
    font-size: 18px;
    font-weight: 600;
    background-color: $purple;
    width: 234px;
    height: 60px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    
    &:hover {
        background: $purple-dark;
    }
} 