


.header {
    background: url(/img/bgc/Rectangle.png);
    background-size: cover;
    width: 100%;
    height: 737px;
    margin-bottom: 95px;
}

.header-menu-burger {
    display: none;
}

.menu-wrapper {
    background-color: rgba(196, 196, 196, 0.1);
    padding: 22px 0;
    margin-bottom: 196px;
}





.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .topbar-logo {
        display: flex;
        align-items: center;
        flex: 1;

        .topbar-logo-icon {
            width: 72px;
            height: 72px;
            margin-right: 22px;
        }
        .topbar-logo-title {
            color: $grey-2;
            font-family: 'Roboto', sans-serif;
            font-size: 22px;
            font-weight: 400;
        }
    }

}

.menu {
    display: flex;
    align-items: center;
    .menu-list {
        display: flex;
    
        .menu-item {
            color: $grey-3;
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            font-weight: 500;
            margin-right: 58px;
        }
       
    }
}

.btn{
    color: $white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    background-color: $purple;
    width: 234px;
    height: 60px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    
    &:hover {
        background: $purple-dark;
    }
} 

.header-content {
    .header-content-title {
        color: $dark-lilac;
        font-family: 'DM Serif Display', serif;
        font-size: 56px;
        font-weight: 400;
        margin-bottom: 30px;
    }

    .header-content-text {
        color: $dark-lilac;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 30px;
        line-height: 27px;
    }
}





