@import "../node_modules/normalize-scss/sass/normalize/import-now";
@import "./var.scss";
@import "./header.scss";
@import "./service.scss";
@import "./video-blog.scss";
@import "./footer.scss";


body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1113px;
    margin: 0 auto;
}

@import "./media.scss";
